body {
    background: #1c26a4;
    font-family: Optima, sans-serif;
    color: #FFFFFF
}
h2 {
    text-align: center;
    font-family: Bradley, cursive;
}
h1 {
    text-align: center;
    font-family: Bradley, cursive;
}