body {
    background: #1c26a4;
    font-family: Optima, sans-serif;
    color: #FFFFFF
}
h2, h1 {
    text-align: center;
    font-weight: bold;
}
a {
    color: #FFFFFF;
}
a:visited {
    color: gray;
}
